@font-face {
  font-family: 'CrimsonText Regular';
  src: url(CrimsonText-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CrimsonText Bold';
  src: url(CrimsonText-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
