@import 'reset';
@import 'vars';

html {
  background-color: var(--bg-color);
}

body {
  font-family: Roboto;
  font-size: 1.6rem;
}

header {
  margin: 2rem 0;
}

.home {
  width: 100vw;
  height: 100vh;
  background: url(../assets/img/home_background.jpg);
  background-size: cover;
}

.header-bottle {
  position: absolute;
  left: 43vw;
  top: 28vh;
}

.wave-two-image {
  width: 100vw;
  position: absolute;
  top: 78vh;
}

.wave-one-image {
  width: 100vw;
  position: absolute;
  top: 82vh;
}

.base-wave-image {
  width: 100vw;
  position: absolute;
  top: 85vh;
}

.header-boat-image {
  position: absolute;
  top: 52vh;
  left: 5vw;
}

.header-buoy-image {
  width: 6vw;
  height: auto;
  position: absolute;
  top: 66vh;
  left: 30vw;
}

.header-whale-image {
  position: absolute;
  top: 77vh;
  left: 75vw;
}

.babeleir {
  height: 360vh;
  background-color: #123f56;
  background-image: url(../assets/img/background_alternation.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
}
